# Variáveis de ambiente
.env
.env.*
!.env.example

# Sistemas operacionais
.DS_Store
Thumbs.db
desktop.ini

# Dependências
node_modules/

# Logs
*.log
npm-debug.log*

# Editores
.vscode/
.idea/
*.swp
*.swo
